:root {
    --font-sans: 'Noto Sans SC', sans-serif;
    --font-serif: 'Noto Serif SC', 'Times New Roman', serif;
    --font-mono: Consolas, monospace, serif;
}

html {
    font-family: var(--font-sans);
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
}

article {
    font-family: var(--font-serif);
}

article p {
    font-size: large;
}